*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-weight:500;
    line-height:1.2;
}
.pr{
    position: relative;
}
img{
    width: 100%;
    vertical-align: middle;
}